:root {
  --clr__textDefault: #333333;
  --clr__gray: gray;
}

button {
  &.btn-underlined {
    padding: 0 0.4rem;
    border-bottom: 2px solid currentColor;
  }

  &.btn-framed {
    padding: 0.4rem 1.2rem;
    border: 2px solid currentColor;
  }
}

.mt-8 {
  margin-top: 0.8rem;
}
