@import url('https://unpkg.com/modern-css-reset/dist/reset.min.css');

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: Helvetica, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--clr__textDefault, #333333);
}

button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

button,
input {
  color: inherit;
  padding: 0;
}
